.button {

    display: block;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: white;
    /* outline: 1px solid grey; */
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 1.5rem;
    border: 0;
    border-radius: 3rem;
    background-color: pink;
    /* background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 51%, #ffecd2 100%); */
    background-size: 300% 100%;
    transition: all 0.3s ease-in-out;

    margin-bottom: 15px;
}

.button:hover:enabled {
    outline: 1px solid grey;
    color: black;
}

.indicator {
    text-align: center;
    font-weight: bold;
}