.form {
    display: flex;
    align-items: center;
    gap: 15px;
}

.SearchInput {

    width: 250px;
    height: 40px;
    background-color: #f2f6f8;
    border-radius: 2rem;
    border: none;
    outline: none;
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);

    padding-left: 20px;
}

.button {

    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: white;
    outline: 1px solid grey;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 1.5rem;
    border: 0;
    border-radius: 3rem;
    background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
    background-size: 300% 100%;
    transition: all 0.3s ease-in-out;
}

.button:hover:enabled {
    color: black;
    background-position: right center;
    transform: translateY(-0.15em);
}